$primaryColor: #4a5846;
$secondaryColor: #70846b;
$fontColor: #333;
$backgroundColor: #f4f4ef;

$defaultFont: "Barlow", sans-serif;
$headingFont: "Libre Bodoni", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;